*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(65, 65, 65);
}
/*"#" for id*/
nav{
    width: 100%;
    height: 70px;
    background-color:crimson;
    /*Need to implement shadow to the header*/
}
/*Header-Text Alignment*/
/*"." for class*/
.nav-content {
    text-align: center;
    font-weight: bold;
    font-size: 2.1em;
    padding: 6px;
}
textarea{
    display: block;
    margin-top: 2rem;
    width:100%;
    min-height: 20vh;
    box-sizing:border-box;

}
main{
    margin:auto;
    padding:2rem;
    max-width: 600px;
}
button{
    background-color:crimson;
    padding:10px;
    border-radius: 3px;
    border: none;
    margin: 1rem 2rem;
    cursor:pointer;
}
#output-txt{
    display: block;
    margin-left: 2rem;
    height: 10vh;
    width: 75%;
    border: 1px solid #000000;
    border-radius: 6px;
    box-sizing: border-box;

}


/* .main-contents{
    margin-left:150px;
    margin-top: 80px;
} */

/* input{
    width: 40em;
    height: 10em;
    background-color:rgb(70, 64, 64);
    border: 2px solid #000000;
    border-radius: 6px 6px 6px 6px;
   
} */
